<div class='main-wrapper'>
  <div class='content-wrapper'>
    <p class='text-center mt-5'>日本の文化が世界で称賛され、海外から日本に訪れる人々が増えました。<br><br>
      良い影響もたくさんある一方で、様々な問題も生じます。<br><br>
      来日なさった人々にとっては、リスペクトを持って日本へ訪れたにもかかわらず、<br><br>
      初めての文化や常識に戸惑い、上手く順応できない場面があります。<br><br>
      一方で、日本に元々住んでいる人々にとっては、<br><br>
      生活に根付いてきた大切にしたい文化やマナーを脅かされることに<br><br>
      不安を覚える場面に遭遇することがあります。<br><br>
      両者にとってwinwinな世界を築いていくための、<br><br>
      相互理解の場を設けるコミュニティサイトにしたいと思います。</p>
  </div>
</div>