<div class='menu-wrapper'>
  <div class='menu-box'><p>おすすめを知る</p></div>
  <div class='menu-box'><p>意見を交換する</p></div>
  <div class='menu-box-sm'><p>仲間を探す</p></div>
  <% unless current_user.guest_user? %>
    <%= link_to user_path(current_user) do %>
      <div class='menu-box-sm'><p>マイページ</p></div>
    <% end %>
  <% end %>
</div>
