<div class='main-wrapper'>
  <h2>日本のおすすめ投稿編集</h2>
  <div class='content-wrapper'>
    <%= render 'form', recommend_place_post: @recommend_place_post, prefectures: @prefectures, btn: '更新' %>
  </div>
</div>