<div class='main-wrapper'>
    <% if @model == 'user' %>
      <h2>ユーザー検索一覧</h2>
    <% else %>
      <h2>投稿検索一覧</h2>
    <% end %>
  <div class='content-wrapper'>
    <%= link_to '検索画面に戻る', new_search_path, class: 'btn sm-btn back-btn mb-5' %>
    <% if @model == 'user' %>
      <%= render 'users/index', users: @records %>
    <% else %>
      <%= render 'recommend_place_posts/index', posts: @records %>
    <% end %>
  </div>
</div>